*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp
*.a

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.local.vimrc
.lvimrc

.clang-format
.clang-tidy
.clangd
.cache
compile_commands.json

.gdbinit
.gdb_history

perf.data
perf.data.old

# gnu global files
GPATH
GRTAGS
GTAGS
GSYMS

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

# ignore ./contrib/gcc_update output
LAST_UPDATED
REVISION

stamp-*
*.stamp

# ignore in-tree prerequisites
/mpfr*
/mpc*
/gmp*
/isl*

# Ignore build artifacts for Nanvix
# TODO: Find a better way to handle this.
/*.zip
Makefile
bfd/elf32-aarch64.c
bfd/elf32-loongarch.c
bfd/elf32-riscv.c
bfd/elf64-aarch64.c
bfd/elf64-loongarch.c
bfd/elf64-riscv.c
bfd/doc/.dirstamp
bfd/po/Makefile.in
binutils/bfdtest1
binutils/bfdtest2
binutils/doc/.dirstamp
binutils/po/Makefile.in
binutils/testsuite/.dirstamp
binutils/testsuite/gentestdlls
gas/config/.dirstamp
gas/po/Makefile.in
gdb/config.lt
gdb/gdb-gdb.py
gdb/doc/gdb-cfg.texi
gdb/doc/GDBvn.texi
gdb/doc/version.subst
gnulib/Makefile.gnulib.inc
gnulib/import/alloca.h
gnulib/import/ctype.h
gnulib/import/dirent.h
gnulib/import/fcntl.h
gnulib/import/glob-libc.gl.h
gnulib/import/inttypes.h
gnulib/import/limits.h
gnulib/import/locale.h
gnulib/import/math.h
gnulib/import/netdb.h
gnulib/import/signal.h
gnulib/import/stdio.h
gnulib/import/stdlib.h
gnulib/import/string.h
gnulib/import/strings.h
gnulib/import/time.h
gnulib/import/unistd.h
gnulib/import/wchar.h
gnulib/import/wctype.h
gnulib/import/arpa/inet.h
gnulib/import/glthread/.dirstamp
gnulib/import/malloc/.dirstamp
gnulib/import/malloc/scratch_buffer.gl.h
gnulib/import/sys/random.h
gnulib/import/sys/select.h
gnulib/import/sys/socket.h
gnulib/import/sys/stat.h
gnulib/import/sys/time.h
gnulib/import/sys/types.h
gnulib/import/sys/uio.h
gnulib/import/sys/wait.h
gprof/po/Makefile.in
ld/po/Makefile.in
libbacktrace/backtrace-supported.h
libbacktrace/gstdint.h
libbacktrace/install-debuginfo-for-buildid.sh
libctf/config.lt
opcodes/po/Makefile.in

.z.config
nanvix-binutils.tar.bz2
